<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="/Mars.Front/" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
<!--
<rewrite>
	<rules>
		<rule name="HTTP to HTTPS redirect" stopProcessing="true">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTP}" pattern="off" ignoreCase="true" />
		</conditions>
		<action type="Redirect" redirectType="Found" url="http://{SERVER_NAME}/{R:1}" />
		</rule>
	</rules>
</rewrite>
-->
